* {
  box-sizing: border-box;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  display: grid;
  grid-template-rows: repeat(30, 20px);
  grid-template-columns: repeat(40, 20px);
  width: 800px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: #213547;
}

#app div {
  display: inline-block;
}

.snake-body {
  width: 14px;
  height: 14px;
  margin: 4px;
  background-color: #efefef;
}

.snake-head {
  background-color: greenyellow;
}

.snake-food {
  width: 12px;
  height: 12px;
  margin: 4px;
  background-color: coral;
  border-radius: 50%;
}